@using CodingEventsDemo.Models;

@model Tag;

<h1>Add Tag</h1>

<form method="post" asp-controller="Tag" asp-action="Add">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Tag" />
</form>